@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    margin: 0;
    display: block;
  }
  .header-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0a0a0ae8;
    height: 100%;
    z-index: 99;
  }
  .header-container .logo-container {
    text-align: center;
  }
  .header-container .logo-container img {
    max-width: 158px;
  }
  .header-container ul.header-lists {
    list-style: none;
    padding-left: 0;
  }
  .header-container ul.header-lists.child {
    display: none;
  }
  .header-container ul.header-lists .header-list-item {
    text-align: center;
    margin: 10px 0;
  }
  .header-container ul.header-lists .header-list-item.parent {
    position: relative;
  }
  .header-container ul.header-lists .header-list-item.parent:before {
    content: '+';
    position: absolute;
    font-weight: 600;
    right: 30px;
    cursor: pointer;
  }
  .header-container ul.header-lists .header-list-item.parent.active:before {
    content: '-';
  }
  .header-container ul.header-lists .header-list-item a {
    text-decoration: none;
  }
  .content-container {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
  }
  .content-container .slider-home {
    height: 100%;
  }
  .content-container .slider-home .owl-carousel.owl-loaded {
    height: 100%;
  }
  .content-container .owl-carousel .owl-stage-outer {
    height: 100%;
  }
  .content-container .owl-carousel .owl-stage-outer .item > img {
    height: 100vh;
    object-fit: cover;
  }

  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-weight: 600; }

.product-items .product-item {
  padding: 0 10px;
  position: relative;
}
.product-detail {
  position: absolute;
  bottom: 25px;
  left: 20px;
  z-index: 3;
}
.product-detail .product-name,
.product-detail .product-type {
  text-transform: uppercase;
  color: #fff;
  display: block;
}
.product-detail .product-name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
}
.product-detail .product-type {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: underline;
}

span.product-image:before {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.5;
}
span.product-image:hover:before {
  opacity: 1;
}
span.product-image img {
  max-height: 250px;
  width: 100%;
  object-fit: cover;
}
.product-type-list {
  margin-bottom: 25px;
}
.product-type-list li {
  text-transform: uppercase;
}
.product-type-list li.active {
  font-weight: 600;
  cursor: default;
}

.product-type-list li{
  display: inline-block;
  margin-right: 15px;
}
.product-type-list li a{
  text-decoration: none;
}
.product-type-list li a:hover{
  text-decoration: underline;
}

td {
  border: 1px solid;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
  padding: 0 0.75rem!important;
}

.owl-carousel .owl-nav {
  font-size: 2.25rem !important;
  position: absolute;
  top: -60px;
  right: 0;
}

.pagination .page-item {
  display: inline-block;
  .page-link {
    background-color: #e1e1e1;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #1a1a1a;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    padding: 5px 12px;
    margin-right: 5px;
    border: 1px solid #ebebeb; }
  .page-link:hover, .page-link:focus {
    background-color: #ed3939;
    color: #ffffff;
    border-color: #ed3939; }
}
.pagination .page-item.active .page-link {
  background-color: #ed3939;
  color: #ffffff;
  border-color: #ed3939; }

//style for tablet and mobile screen

@media (max-width: 1024px){
  .header-container{
    display: block!important;
    height: 60px !important;
    width: 100%!important;
    background: #666;
    .logo-container{
      max-height: 50px;
      max-width: 50px;
      margin: 5px;
      margin-left: 20px;
      img{
        max-width: 100%;
        max-height: 100%;
        margin-top: 0 !important;
      }
    }
    ul.header-lists.parents{
      display: none;
      width: 100%;
      position: fixed;
      top: 60px;
      background-color: #0a0a0ae8;
    }
    .company-postion{
      display: none;
    }
    .nav-toggle-mobile{
      width: 50px;
      height: 50px;
      position: fixed;
      top: 5px;
      right: 20px;
      .op_line{
        background: #fff;
        border-radius: 1px;
        display: block;
        height: 2px;
        position: absolute;
        transform: translate(0, 0px);
        width: 25px;
        left: 0;
        right: 0;
        margin: auto;
        transition: transform 0.3s, background 0.3s;
        -webkit-transition: transform 0.3s, background 0.3s;
        -moz-transition: transform 0.3s, background 0.3s;
        &._1{
          top: 15px;
        }
        &._2{
          top: 23px;
        }
        &._3{
          top: 31px;
        }
      }
      &.active{
        .op_line._1{
          transform: translate(0, 9px) rotate(45deg);
        }
        .op_line._2{
          opacity: 0;
        }
        .op_line._3{
          top: 33px;
          transform: translate(0, -9px) rotate(-45deg);
        }
      }
    }
  }
  .content-container{
    position: unset;
  }
}