.form-control {
    color: #222;
}

.voyager .side-menu.sidebar-inverse {
    background: #333;
    background: linear-gradient(45deg,#333,#000);
}

body {
    color: #000;
}

.voyager .navbar, .voyager .navbar.navbar-default {
    background: hsla(0, 0%, 30%, 0.5);
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background: #fff;
}

.breadcrumb {
    background-color: #22A7F0;
    border: 1px solid #22A7F0;
}

.voyager .breadcrumb a, .breadcrumb li:last-child {
    color: #fff;
}

textarea {
    resize: vertical;
}

table.dataTable tbody td, table.dataTable tbody th{
    color: black;
    background-color: aliceblue;
    font-weight: 400;
}

.voyager .table>thead>tr>th {
    color: #000;
    font-weight: 600;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    background-color: #dbdbdb;
    vertical-align: top;
}
