body {
    margin: 0;
    display: block;
  }
  .header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    background-color: #0a0a0ae8;
    height: 100%;
    z-index: 99;
  }
  .header-container .logo-container {
    text-align: center;
  }
  .header-container .logo-container img {
    max-width: 158px;
  }
  .header-container ul.header-lists {
    list-style: none;
    padding-left: 0;
  }
  .header-container ul.header-lists.child {
    display: none;
  }
  .header-container ul.header-lists .header-list-item {
    text-align: center;
    margin: 10px 0;
  }
  .header-container ul.header-lists .header-list-item.parent {
    position: relative;
  }
  .header-container ul.header-lists .header-list-item.parent:before {
    content: '+';
    position: absolute;
    font-weight: 600;
    right: 30px;
    cursor: pointer;
  }
  .header-container ul.header-lists .header-list-item.parent.active:before {
    content: '-';
  }
  .header-container ul.header-lists .header-list-item a {
    text-decoration: none;
  }
  .header-container ul.header-lists .header-list-item span {
    text-transform: uppercase;
  }
  .content-container {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
  }
  .content-container .slider-home {
    height: 100%;
  }
  .content-container .slider-home .owl-carousel.owl-loaded {
    height: 100%;
  }
  .content-container .owl-carousel .owl-stage-outer {
    height: 100%;
  }
  .content-container .owl-carousel .owl-stage-outer .item > img {
    height: 100vh;
    object-fit: cover;
  }
  .product-type-list li{
    display: inline-block;
    margin-right: 15px;
  }
  .product-type-list li a{
    text-decoration: none;
  }
  .product-type-list li a:hover{
    text-decoration: underline;
  }